* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.jumbotron-fluid{
    height: 60vh;
}
.introContainer{
    padding: 15%;
}
.image{
    height: 600px;
    padding: 50px;
    border-radius: 10%;

}
.textItem{
    text-align: center;
}
.imageDescrip{
    padding: 50px;
}
.imagePaint{
    width: 600px;
    padding: 50px;
    border-radius: 10%;
}
.btn-primary{
    background-color: #f28746;
    border-color: #f28746;
    height: 75px;
    width: 100px;
}
li {
    display: list-item;
}
.py-3{
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.my-4{
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}
.container{
    padding-top: 10%;
}